.projectCard {
    display: flex;
    background: var(--background);
    place-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 16px;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}

.projectCardLogo {
    display: flex;
    object-fit: cover;
    width: calc(100% - 4rem);
    max-width: 250px;
    padding: 2rem;
    margin: 0;
}

.projectCardButtons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    padding: 50px 0 0 0;
    align-items: center;
    justify-content: center;
}

.projectCardInfo {
    display: flex;
    place-items: center;
    width: 100%;
    padding-top: 16px;
    flex-direction: column;
    border-top: 3px solid var(--text);
}

.pageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid var(--text);
    padding: 0px 7px;
    margin: 5px 0px;
    font-size: 10px;
    font-weight: 900;
    min-width: 60px;
    width: auto;
    height: 30px;
    transition: all .2s ease-in-out;
}

.githubButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid black;
    padding: 0px 7px;
    margin: 5px 0px;
    font-size: 10px;
    font-weight: 900;
    width: 100px;
    height: 30px;
    word-break: keep-all;

    transition: all .2s ease-in-out;
}

.projectCardTitle {
    display: flex;
    color: #646cff;
    text-decoration: underline;
    margin: 0;
}

.projectCardID {
    display: flex;
    color: gray;
    font-size: calc(5px + 1vmin);
    padding: 0;
    margin: 0;
}

.githubButton>svg {
    color: black;
    transition: all .2s ease-in-out;
    margin: 5px 5px;
}

.pageButton:hover {
    background: var(--text);
}

.githubButton:hover {
    background: black;
}

.githubButton:hover>svg {
    color: #ffffff;
}